RewriteEngine On
Options +FollowSymLinks -MultiViews
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ public/index.php [L,QSA]
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin: *
</ifModule>